<div class="content" fxLayout="column" fxLayoutGap="30px">
  <mat-card>
    <h1>Who's Watching?</h1>
    <p>Type the name of the Twitch channel whose viewers you want to see</p>
    <form [formGroup]="form" fxLayout="row">
      <mat-form-field>
        <input matInput type="text" placeholder="Channel Name" formControlName="channelName" (change)="getTwitchData()"/>
      </mat-form-field>
    </form>
  </mat-card>
  <div class="lists" fxLayout="row" fxLayoutWrap fxLayoutGap="30px">
    <app-user-list fxFlex="1 1 auto" [title]="viewerTitle" [list]="twitchService.viewers"></app-user-list>
    <app-user-list fxFlex="1 1 auto" [title]="moderatorTitle" [list]="twitchService.moderators"></app-user-list>
    <app-user-list fxFlex="1 1 auto" [title]="staffTitle" [list]="twitchService.staff"></app-user-list>
    <app-user-list fxFlex="1 1 auto" [title]="adminTitle" [list]="twitchService.admins"></app-user-list>
  </div>
</div>
<app-loading-overlay *ngIf="twitchService.loading"></app-loading-overlay>
